[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[user]
  name = Rufat Hajizada
  email = hajizada.rufat@gmail.com

[core]
  pager = delta

[pager]
  log = less

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  line-numbers = true
  side-by-side = true

[merge]
  conflictStyle = diff3

[diff]
  colorMoved = default
        tool = delta

